[submodule "ecg"]
	path = api/demo/ecg
	url = https://github.com/analysiscenter/ecg.git
[submodule "lung_cancer"]
	path = api/demo/lung_cancer
	url = https://github.com/analysiscenter/lung_cancer.git
[submodule "annotation/ecg"]
	path = api/annotation/ecg
	url = https://github.com/analysiscenter/ecg.git
